body{
    font-family: sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #eeeeee;
}
/* NAVBAR 1 SECTION CSS */
#navbar1{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    border: 0px solid black;
    padding: 0 15%;
    background-color: #2d2d2d;
}
#navbar1 > div{
    border: 0px solid black;
}
#navbar1>div:first-child{
    padding: 0px 20px;
    color: white;
    font-size: 46px;
    font-family: futura-pt;
    letter-spacing: -2px;
    cursor: pointer;
}
.women{
    text-align: center;
    font-size: 20px;
    font-weight: bolder;
    padding: 18px;
    color: white;
}
.men{
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
    width: 80px;
    padding: 18px;
    color: white;
}
.men:hover{
    cursor: pointer;
}
#search{
    width: 900px;
    height: 40px;
    padding: 18px;
    margin: 10px 10px 10px 0px;
    border-radius: 20px;
}
.icons{
    padding: 18px;
    color: white;
}
/* NAVBAR 2 SECTION CSS */
#navbar2{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    border: 0px solid black;
    padding-left: 14%;
    padding-right: 14%;
    padding-top: 0px;
    padding-bottom: 0px;
    background-color: #525050;
}
#navbar2>div{
    border: 0px solid black;
    text-align: center;
    color: white;
    padding: 20px 5px;
}
#navbar2 > div:first-child, div:nth-child(11){
    background-color: crimson;
}
/* NAVBAR 3 SECTION CSS */
#navbar3{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    border: 0px solid black;
}
#navbar3>div{
    border: 0px solid red;
}
#navbar3>div>p{
    margin-top: 0px;
    font-weight: bold;
    text-align: center;
    margin-left: 40%;
}
#navbar3>div>p:nth-child(2){
    margin-top: -14px;
}
#navbar3>div>p:nth-child(3){
    margin-top: -12px;
    margin-bottom: 0px;
}
#navbar3>div:last-child{
    text-align:center;
    background-color: black;
}
#navbar3>div:first-child{
    text-align:center;
    background-color: #ff385c;
}
#navbar3>div>h4{
    margin-right: 40%;
    color: white;
}
/* MAIX BOX OF PRODUCTS AND CHECKOUT BOX CSS */
#container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: 70%;
    border: 0px solid black;
    margin: 10px auto 40px;
    justify-content: center;
    align-content: center;
    column-gap: 10px;
    padding: 7px;
}
#bagBox{
    display: grid;
    grid-template-rows: auto;
    border: 0px solid red;
    row-gap: 10px;
}
#bagBox > div:first-child{
    border: 0px solid gold;
    font-size: 20px;
    letter-spacing: 1.5px;
    font-weight: 700;
    font-family:'Hind Siliguri', sans-serif;
    padding: 20px 26px;
    background-color: white;
}
#bagBox > div:last-child{
    background-color: white;
}
#bagProducts{
    border: 0px dashed darkgreen;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
#mainBox{
    display: flex;
    border: 0px solid crimson;
    border-radius: 10px;
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
    background-color: white;
}
#mainBox > div:last-child{
    margin-left: 4%;
}
.prodPrice{
    font-size: 20px;
    font-weight: 600;
    font-family: 'Hind Siliguri', sans-serif;
    margin-top: 4px;
}
.prodImage{
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}
#imgBox{
    height: 160px;
    width: 140px;
}
#imgBox > img{
    height: 100%;
    width: 100%;
}
.removeBtn{
    border: 0px;
    padding: 10px 40px;
    background-color: #ff385c;
}
#subTotal{
    display: flex;
    justify-content: flex-end;
    font-weight: 700;
    padding: 10px 20px;
}
#subTotal >p:first-child{
    margin-right: 20px;
}
#subTotal > p:last-child{
    margin-right: 20px;
    margin-left: 20px;
}
#subTotal > i{
    margin-top: 16px;
    margin-right: -14px;
}
/* checkout box css */
#checkoutBox{
    border: 0px solid red;
    padding: 10px 26px;
    height: 300px;
    width: 50%;
    background-color: white;
}
#checkoutBox > h3{
    padding-bottom: 5%;
    border-bottom: 1px solid gray;
    margin-bottom: 0px;
    letter-spacing: 1.5px;
}
#cbSubtotal{
    display: flex;
    justify-content: space-between;
}
#cbSubtotal > i{
    margin-top: 21px;
    margin-left: 67%;
}
#delivery{
    width: 100%;
    height: 40px;
    color: gray;
    font-size: 16px;
    border: none;
    border-bottom: 1px solid gray;
    margin-bottom: 5%;
}
#checkoutBtn{
    width: 100%;
    border: none;
    font-size: 14px;
    padding: 15px;
    font-weight: 600;
    background-color: #018849;
    color: white;
    letter-spacing: 1.5px;
}
#paymentBox{
    border: 0px solid crimson;
    margin-top: -10px;
    display: flex;
}
#paymentBox > div{
border: 0px solid green;
height: 24px;
width: 40px;
margin-right: 8px;
}
#paymentBox > div > img{
    height: 100%;
    width: 100%;
}
/* SOCIALS CSS */
#sAndp{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding: 5px 30%;
}
#sAndp > div{
    border: 0px solid gray;
}
#sAndp > .socials{
    border-right: 1px solid gray;
}
#sAndp > .socials, .payments{
    display: flex;
    justify-content: space-evenly;
}
#sAndp > .socials > div{
    height: 30px;
    width: 30px;
    border: 0px solid blue;
}
#sAndp > .socials > div > img{
    width: 100%;
    height: 100%;
}
#sAndp > .payments > div > img{
    width: 100%;
    height: 100%;
}
#sAndp > .payments > div{
    height: 30px;
    width: 50px;
    border: 0px solid red;
}
#sAndp > .payments{
    width: 450px;
}
/* FOOTER SECTION CSS */
#footer{
    border: 0px solid black;
    margin-top: 10px;
    background-color: #eeeeee;
    padding: 20px 0px;
}
#footerBox{
    border: 0px solid gray;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin: 0px 16%;
    background-color: #eeeeee;
}
#footerBox > div{
    border: 0px solid red;
}
#footerBox > div> h4{
    font-size: 14px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    color: dimgray;
}
#footerBox > div > p{
    font-size: 14px;
    color: #999;
}
#footerBtn{
    border: none;
    background-color: transparent;
    outline: none;
    padding: 0;
    margin: 0;
    height: 30px;
    display: flex;
    align-items: center;
    align-content: center;
    color: #999;
}
#footerBtn > img{
    height: 20px;
    width: 20px;
}
