body{
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    font-family: 'Poppins', sans-serif;
}
#header{
    width: 50%;
    border: 1px solid rebeccapurple;
    padding: 0px 30px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
#header > div{
    border: 1px solid purple;
}
#header > div:first-child{
    font-size: 40px;
    font-weight: 1000;
    font-family: 'Poppins', sans-serif;
    letter-spacing: -4px;
    cursor:grab;
}
#header >div:nth-child(2){
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: 1000;
    font-family: 'Poppins';
    letter-spacing: 1.5px;
}
#container{
    display: flex;
    column-gap: 10px;
    border: 1px solid black;
    width: 50%;
    margin: auto;
    padding: 10px 30px;
}
#container > div{
    border: 1px solid blue;
}
#container > div:first-child{
    width: 60%;
}
#container > div:last-child{
    width: 40%;
}
#itemBox > div:first-child{
    display: flex;
    border-bottom: 1px solid gray;
}
#infoBox{
    padding: 10px;
}
#promo{
    border: 1px solid red;
    margin-bottom: 10px;
}
ul{
    margin-left: -16px;
}
#delivery{
    border: 1px solid red;
    margin-bottom: 10px;
}
#payment{
    border: 1px solid red;
}
#itemList{
    border: 0px dashed darkgreen;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    border-bottom: 1px solid gray;
}
#mainBox{
    display: flex;
    border: 0px solid crimson;
    /* border-radius: 10px; */
    padding: 10px;
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
    background-color: white;
    margin-bottom: 7px;
}
#mainBox > div:last-child{
    margin-left: 4%;
}
.prodPrice{
    font-size: 16px;
    font-weight: 600;
    font-family: 'Hind Siliguri', sans-serif;
    margin-top: 4px;
}
.prodName{
    font-size: 12px;
}
#imgBox{
    height: 110px;
    width: 150px;
}
#imgBox > img{
    height: 100%;
    width: 100%;
}
#subTotal{
    padding: 10px;
    display: flex;
    justify-content: space-between;
}