body{
    background-color:whitesmoke;
}
#asos{
    border: 0px solid black;
    height: 28px;
    width: 93px;
    margin: 80px auto 30px;
}
#asos>img{
    height: 100%;
    width: 100%;
}
#container{
    width: 50%;
    margin: auto;
    border: 0px solid black;
    padding: 30px 30px 0px 30px;
    box-sizing: border-box;
    background-color: #ffffff;
}
.join{
    display: flex;
}
.join > div{
    border: 0px solid red;
    width: 50%;
    font-family: sans-serif;
    font-weight: 700;
    color: #767676;
    text-align: center;
    padding: 20px 0px 17px;
    font-size: 18px;
}
#base{
    font-family: sans-serif;
    text-align: center;
    font-weight: bold;
    margin: 40px 0px;
}
.google{
   display: grid;
   grid-template-columns: repeat(3,1fr);
   column-gap: 10px; 
}
.google > div{
    border: 3px solid #dddddd;
    height: 20px;
    font-family: sans-serif;
    font-size: 18px;
    text-align: center;
    padding: 20px 0px;

}
.google > div > i{
    margin-right: 50px;
}
.google > div > span{
    margin-right: 0px;
}
.subtitle{
    font-family:  futura-pt,Tahoma,Geneva,Verdana,Arial,sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: .4px;
    max-width: 100%;
    padding: 0px 10px;
    text-align: center;
}
#base2{
    font-size: 19px;
    text-align: center;
    letter-spacing: 1.3px;
    padding: 40px ;
}
#formContainer{
    border: 0px solid;
    width: 70%;
    margin: 0px auto;
}
form{
    font-family: futura-pt, Tahoma, Geneva, Verdana, Arial, sans-serif;;
    color: #767676;
    font-weight: 600;
}
form #email,#fName,#lName,#password{
    width: 90%;
    height: 40px;
    margin-top: 10px;
}
#belowEmail,#belowPass,#belowDate{
    font-weight: lighter;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: .4px;
    margin-top: 5px;
}
#fName,#lName,#password{
    margin-bottom: 30px;
}
#belowPass{
    margin-top: -25px;
}
#birthdayInForm{
    display: flex;
    border: 0px solid black;
    margin-top: 10px;
}
#date{
    height: 50px;
    width: 70px;
    margin-right: 20px;
    padding: 10px;
    font-size: 16px;
}
#month{
    width: 200px;
    padding: 10px;
    font-size: 16px;
}
#year{
    margin-left: 20px;
    padding: 10px;
    font-size: 16px;
}
.radioSelect{
    margin-bottom: -10px;
    margin-top: 30px;
}
.radioBtn{
  border-radius: 50%;
  width: 20px;
  height: 20px;

  border: 2px solid #999;
  margin-right: 5px;

  position: relative;
  top: 4px;
}
.womenName{
    font-weight: lighter;
    color: black;
    margin-right: 50px;
}
#submitBtn{
    width: 100%;
    margin: 40px 0px;
    font-weight: 700;
    font-size: 16px;
    height: 45px;
    line-height: 1.5;
    letter-spacing: 2px;
    border: 0;
    color: white;
    background-color:#2d2d2d ;
}
#signIn:hover{
    cursor: pointer;
    color: green;
}
#join:hover{
    cursor: pointer;
    color: green;
}